{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Flower Shop</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
    <section id="catalog">
    <div class="container p100">
      <div class="catalog">
        <div class="title">Все букеты</div>
        <div class="container">
          <div class="row justify-content-md-center">
            {% for bouquet in bouquets %}
                <div class="col-6 col-md-5" onclick="window.location.href='{% url 'card' bouquet.id%}'"
                     style="background: url('{% get_media_prefix %}{{ bouquet.image | safe }}') no-repeat center bottom / cover; display: flex;
                             width: 310px; height: 400px">
                  <div class="recommended__block_elems ficb">
                    <span class="recommended__block__left">{{ bouquet.title }}</span>
                    <span class="recommended__block__right">{{ bouquet.price|floatformat:0 }} руб</span>
                  </div>
                </div>
            {% endfor %}
          </div>
        </div>
        <button class="btn largeBtn catalog__btn">Показать ещё</button>
      </div>
    </div>
    </div>
  </section>
    <section id="consultation">
      <div class="container">
        <div class="consultation">
          <div class="title consultation__title">Оставьте заявку на консультацию</div>
          <form action="#" class="consultation__form">
            <input type="text" name="fname" class="consultation__form_input" placeholder="Введите Имя" required>
            <input type="text" name="tel" class="consultation__form_input" placeholder="+ 7 (999) 000 00 00" required>
            <button type="submit" class="consultation__form_btn">Отправить</button>
          </form>
        </div>
      </div>
    </section>
{% endblock content %}