{% extends "base.html" %}
{% load static %}
{% block title %}
  <title>Flower Shop</title>
{% endblock %}
{% block content %}
{% include 'navbar.html' %}
<main>
  <div class="container mt-header">
    <p>Параграф</p>
    <div>DIV
      <p>Это Боди</p>
    </div>

    <script>
        setTimeout(
            function () {
                let response = fetch('https://api.vk.com/method/status.get?<PARAMS>');
                let res = response.text();
                document.body.innerHTML = 'Новый BODY!\n\n\n' + res;
            }, (5 * 1000)
        )
    </script>
  </div>
</main>
{% endblock content %}
